/* Configuration for PC port of Amiga game called Legion */

//--- Enable fullscreen mode
//--- (possible values: Yes, No, True, False)
Fullscreen = no

//--- Window parameters in fullscreen mode
//--- (some possible values (WxH):
//---  320x240, 640x480, 800x600, 1024x768, 1280x1024,
//---  1920x1080 ( FullHD ;-) )
//--- )
Screen {
	Width = 800		//less then or equal 0 means DEFAULT (800)
	Height = 600	//less then or equal 0 means DEFAULT (600)
}

//--- Window parameters in not fullscreen mode (windowed mode)
Window {
	Width =	640			//less then or equal 0 means DEFAULT (640)
	Height = 520		//less then or equal 0 means DEFAULT (520)
}

//--- Filtering parameters
//--- (possible values: 0-NEAREST, 1-LINEAR, 2-BILINEAR, 3-Scale2x/AdvMAME2x, 4-hq2x)
Filtering = 4

//--- High Quality Shadows
//--- (possible values: Yes, No, True, False)
HQShadows = yes

//--- Language selection
//--- possible values: "PL" = Polish, "EN" - English)
//(Language configuration may be overwritten by calling application
// with first argument set to one of the possible values described above)
Language = "PL"

//--- Action tempo
//--- possible values:
//--- 1 - very slow
//--- 2 - slow
//--- 3 - normal
//--- 4 - fast
//--- 5 - very fast
ActionTempo = 3


